body{
    background-image: url('../Pictures/party.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.inside{
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 20px;
    padding-bottom: 20px;
}
img{
    border: 10px solid darkred;
}
a{
    color: white;
}
a:visited{
    color: black;

}